{% extends 'account/base.html' %}

{% block content %}
 <h2>Add stocks</h2>

 <form  method="post">{% csrf_token %}

   {%for field in stock_form%}
      <p>
          {{field.label_tag}}
          {{field}}

          {% if field.help_text %}
              <small style="color:gray">{{field.help_text}}</small>
          {% endif %}

          {% for error in field.errors %}
              <p style="color:red">{{error}}</p>
           {% endfor %}


      </p>
   {% endfor %}

   <button type="submit"> Go</button>
 </form>





{% endblock %}
