{% extends 'account/base.html' %}

{% block content %}
 <h2>Sign in</h2>

 <form  method="post">{% csrf_token %}

   {%for field in login_form%}
      <p>
          {{field.label_tag}}
          {{field}}

          {% if field.help_text %}
              <small style="color:gray">{{field.help_text}}</small>
          {% endif %}

          {% for error in field.errors %}
              <p style="color:red">{{error}}></p>
           {% endfor %}

           {% if login_form.non_field_error %}
              <div style="color:red">
                  {{login_form.non_field_error}}
              </div>
           {% endif %}

      </p>
   {% endfor %}

   <button type="Log in"> Sign in</button>
 </form>





{% endblock %}
